{% extends 'base.html.twig' %}

{% block title %}News Need{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>News! <span class="fa fa-rss"></span></h1>
        {% for item in news %}
            {{ include('site/item.html.twig', {
                title: item.title ?? '',
                text: item.text ?? '',
                link: item.link ?? '',
                img: item.image ?? '',
                date: item.date ?? ''
            }) }}
        {% endfor %}
    </div>
{% endblock %}
